@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #032C3A;
    background-color: #EFE4BD;
  }

  p {
    @apply text-xl py-2 md:py-4  leading-normal;
  }

  h1,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Caprasimo";
  }

  h1 {
    @apply text-3xl sm:text-5xl md:text-6xl lg:text-5xl;
    /* font-size: 3.25rem; */
    /* 48px */
    line-height: 1;
  }

  h2 {
    @apply text-2xl sm:text-4xl md:text-5xl;
    font-weight: 300;
    font-family: "Yellowtail";
  }

  h3 {
    @apply text-2xl sm:text-3xl md:text-5xl lg:text-4xl;
    line-height: 1.4;
  }

  h4 {
    @apply lg:text-3xl;
  }

  h5 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-3xl;
  }

  h6 {
    @apply lg:text-xl;
  }

  .btn{
    text-transform: none;
  }

  .light-icon {
    filter: invert(97%) sepia(3%) saturate(883%) hue-rotate(327deg) brightness(102%) contrast(93%);
  }

  .dark-icon {
    filter: invert(13%) sepia(53%) saturate(703%) hue-rotate(149deg) brightness(100%) contrast(102%);
  }

  .light-text {
    color: #f6f1eb;
  }
}
